doctype html5
html(ng-app='talos')
  head
    title #{(title ? title + ' | ' : '')}The Talos Compendium
    meta(name='description', content='The Talos Compendium, a search engine for both encoded and decoded versions of texts from The Talos Principle.')
    link(rel='stylesheet', href=baseUrl + '/public/css/main.css')
  body(ng-controller='MainController')
    header#header-main
      nav.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href='/') The Talos Compendium
          ul.nav.navbar-nav.navbar-right
            each item in navItems
              li(class=activeNav == item.slug ? 'active' : '')
                a(href=item.href) #{item.label}
  
    block content

    script(src=baseUrl + '/public/js/bundle.js')
