doctype html
html(ng-app='talos')
  head
    title #{(title ? title + ' | ' : '')}The Talos Compendium
    meta(name='description', content='The Talos Compendium, a search engine for both encoded and decoded versions of texts from The Talos Principle.')
    meta(name='google-site-verification', content='tRc5L7Wm3yQzrnT32KgBtHYflo_LWCh9He5wOOg8Q0E')
    link(rel='stylesheet', href='/public/css/main.css')
  body(ng-controller='MainController')
    header#header-main
      nav.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href='/') The Talos Compendium
          ul.nav.navbar-nav.navbar-right
            each item in navItems
              li(class=activeNav == item.slug ? 'active' : '')
                a(href=item.href) #{item.label}
  
    block content

    script(src='/public/js/bundle.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89126558-1', 'auto');
